# Logs directories/files
logs/
*.log

# Backup directories/files
**/*.bak*

# Build directories
build/

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# package-lock
package-lock.json
